// Base colors
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$true-green: #3DD2CC;
$gray: rgb(50,50,60);
$light-gray: #F4F4F4;


// Colors
$base:    $gray;
$primary: $blue;
$success: $true-green;
$info:    $yellow;
$danger:  $red;
$warning: $orange;
$colors: ("base": $base, "primary": $primary, "success": $success, "info": $info, "danger": $danger, "warning": $warning);


$gray-shade-1: lighten($gray, 10%);
$gray-shade-2: lighten($gray, 20%);
$gray-shade-3: lighten($gray, 30%);
$gray-shade-4: lighten($gray, 40%);
$gray-shade-5: lighten($gray, 50%);
$gray-shade-6: lighten($gray, 60%);
$gray-shade-7: lighten($gray, 70%);


@for $i from 1 through 7 {
  .circle-gray-#{$i} {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lighten($gray, $i * 10);
  }
}

@for $i from 1 through 7 {
  .circle-red-#{$i} {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lighten($red, $i * 5);
  }
}

@for $i from 1 through 7 {
  .circle-green-#{$i} {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lighten($true-green, $i * 5);
  }
}

@for $i from 1 through 7 {
  .circle-blue-#{$i} {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lighten($blue, $i * 5);
  }
}

@for $i from 1 through 7 {
  .circle-orange-#{$i} {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lighten($orange, $i * 5);
  }
}

@for $i from 1 through 7 {
  .circle-yellow-#{$i} {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lighten($yellow, $i * 5);
  }
}






















@for $i from 1 through 7 {
  .text-shade-#{$i} {
    color: lighten($gray, $i * 10);
  }
}

@for $i from 0 through 7 {
  .text-green-#{$i} {
    color: lighten($true-green, $i * 10);
  }
}


@for $i from 0 through 7 {
  .text-blue-#{$i} {
    color: lighten($blue, $i * 10);
  }
}


@for $i from 0 through 7 {
  .text-red-#{$i} {
    color: lighten($red, $i * 10);
  }
}


@for $i from 0 through 7 {
  .text-orange-#{$i} {
    color: lighten($orange, $i * 10);
  }
}








@for $i from 0 through 7 {
  .back-green-#{$i} {
    background-color: lighten($true-green, $i * 10);
  }
}


@for $i from 0 through 7 {
  .back-blue-#{$i} {
    background-color: lighten($blue, $i * 10);
  }
}


@for $i from 0 through 7 {
  .back-red-#{$i} {
    background-color: lighten($red, $i * 10);
  }
}


@for $i from 0 through 7 {
  .back-orange-#{$i} {
    background-color: lighten($orange, $i * 10);
  }
}








