$after-subheader-color: $gray-shade-7;

.section {
  padding: 25px;
  &.white {
    background-color: white;
  }
  &.light {
    background-color: $gray-shade-7;
  }
  &.middle {
    background-color: $gray-shade-4;
  }
  &.dark {
    background-color: $gray-shade-1;
  }
  .header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sub-header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 40px 0;
    &:after {
      content: '';
      flex: 1;
      opacity: 0.6;
      margin: 0 10px;
      border-bottom: 1px solid $after-subheader-color;
    }
    &:before {
      content: '';
      flex: 1;
      margin: 0 10px;
      opacity: 0.6;
      border-bottom: 1px solid $after-subheader-color;
    }
  }
}



.double-arrow {
  font-size: 50px;
  color: $red;
  transform: rotate(90deg);
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
}

.double-arrow-container {
  display: flex;
  align-items: center;
  justify-content: center;
}





.inline-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10%;
  .item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
  }
}

@media (max-width: 768px) {
  .inline-container {
    padding: 25px 0;
  }
}

pre.language-markup {
  background-color: $gray-shade-7;
  border-radius: 4px;
  font-family: "Andale Mono";
}


.search-item {
  width: 100%;
  height: 200px;
  background-color: $gray-shade-6;
  display: flex;
  border-radius: 3px;
  font-size: 20px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

#input-filter {
  padding: 10px 25px;
  border: 1px solid $gray-shade-6;
  font-size: 16px;
  margin-top: 15px;
  border-radius: 3px;
  outline: none;
  color: $gray-shade-2;
  font-weight: bolder;
  &:focus {
    border: 1px solid $gray-shade-6;
    outline: none;
  }
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $gray-shade-6;
  }
}


#filter-result-count {
  font-size: 13px;
  font-weight: bolder;
}
