// Flexgrid variables
$flex-columns: 12;
$row-class-name: "flexrow";
$item-class-name: "flexcol";
$flex-unit: 100% / $flex-columns;
$padding-choices: ("10": 10px, "20": 20px, "30": 30px, "40": 40px);


// Flexgrid style
.#{$row-class-name} {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  &-center {
    justify-content: center;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
  }
  &-end {
    justify-content: flex-end;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: flex-start;
  }
}

@each $name, $paddwidth in $padding-choices {
  @each $class, $width in $screen-breakpoints {
    @media (min-width: $width) {
      @for $i from 1 through $flex-columns {
        .#{$item-class-name}-#{$class}-#{$i} {
          width: calc(#{$flex-unit * $i});
          box-sizing: border-box;
          display: flex;
          align-items: center;
          justify-content: center;
          &-pad#{$name} {
            padding: $paddwidth;
            width: calc(#{$flex-unit * $i});
            box-sizing: border-box;
            display: flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
    }
  }
}


