$tab-link-color: $gray-shade-3;
$tab-link-hover-color: $true-green;
$border-on-hover: true;


.tab {
  &-trigger {
    color: $tab-link-color;
    font-weight: bolder;
    margin: 0 10px;
    font-size: 14px;
    &.active {
      color: $tab-link-hover-color;
      font-weight: bolder;
      position: relative;
      @if ($border-on-hover == true) {
        &:before {
          content: '';
          position: absolute;
          bottom: -7px;
          width: 100%;
          left: 0;
          border-top: 2px solid $tab-link-hover-color;
        }
      }
    }
  }
  &-content {
    display: none;
    &.active {
      display: block;
    }
  }
  &.active {
    opacity: 0.7;
  }
}


.tabs-links {
  height: 60px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  &.center {
    justify-content: center;
  }
  &.start {
    justify-content: flex-start;
    padding-left: 20px;
  }
}


.tab-content-example {
  padding: 25px;
  border: 1px dashed $gray-shade-7;
}
