

<div class="flexrow-example-container" id="scroll-target-20">

  <div class="flexrow-example-header">Classic</div>

  <div class="flexrow">
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-base">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-primary">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-info">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-danger">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-success">submit</div>
    </div>
  </div>

</div>



<div class="flexrow-example-container" id="scroll-target-21">

  <div class="flexrow-example-header">Fixed size</div>

  <div class="flexrow">
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-fixed-base">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-fixed-primary">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-fixed-info">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-fixed-danger">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-fixed-success">submit</div>
    </div>
  </div>

</div>



<div class="flexrow-example-container" id="scroll-target-22">

  <div class="flexrow-example-header">Bordered</div>

  <div class="flexrow">
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-bordered-base">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-bordered-primary">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-bordered-info">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-bordered-danger">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-bordered-success">submit</div>
    </div>
  </div>

</div>


<div class="flexrow-example-container" id="scroll-target-23">

  <div class="flexrow-example-header">Fullsize</div>

  <div class="flexrow">
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-full-base">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-full-primary">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-full-info">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-full-danger">submit</div>
    </div>
    <div class="flexcol-xs-12-pad20 flexcol-sm-6-pad20 flexcol-md-4-pad20">
      <div class="btn-full-success">submit</div>
    </div>
  </div>

</div>




