<div class="sub-header">
  <div class="navigation">
    <div class="text-lighter">Buttons</div>
    <%= render "shared/svg_icons/chevron_right_red" %>
    <div>Classic</div>
  </div>
</div>



  <div class="container-flexrow" data-gap="20px">
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-base">base</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-primary">primary</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-info">info</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-danger">danger</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-success">success</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-flexrow" data-gap="20px">
    <div class="sub-header">
      <div class="navigation">
        <div class="text-lighter">Buttons</div>
        <%= render "shared/svg_icons/chevron_right_red" %>
        <div>Fixed size</div>
      </div>
    </div>
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-base">base</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-primary">primary</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-info">info</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-danger">danger</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-success">success</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-flexrow" data-gap="20px">
    <div class="sub-header">
      <div class="navigation">
        <div class="text-lighter">Buttons</div>
        <%= render "shared/svg_icons/chevron_right_red" %>
        <div>Bordered</div>
      </div>
    </div>
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-base">base</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-primary">primary</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-info">info</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-danger">danger</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-success">success</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-flexrow" data-gap="20px">
    <div class="sub-header">
      <div class="navigation">
        <div class="text-lighter">Buttons</div>
        <%= render "shared/svg_icons/chevron_right_red" %>
        <div>Fullsize</div>
      </div>
    </div>
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-base">base</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-primary">primary</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-info">info</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-danger">danger</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-success">success</div>
          </div>
        </div>
      </div>
    </div>
  </div>

