

  <div class="sub-header">
    <h4>Normal</h4>
  </div>

  <div class="carousel" style="background-image: url('http://unsplash.it/1400/900?random');" data-auto="true">
    <div class="carousel-text"></div>
    <div class="carousel-control">
      <div class="prev">
        <%= render "svg/chevronleft", size_class: "lg", rotate: false %>
      </div>
      <div class="next">
        <%= render "svg/chevronright", size_class: "lg", rotate: false %>
      </div>
    </div>
    <div class="carousel-item" data-url="http://unsplash.it/1000/800?random" data-title="Wildlife"></div>
    <div class="carousel-item" data-url="http://unsplash.it/1000/900?random" data-title="Lifestyle"></div>
    <div class="carousel-item" data-url="http://unsplash.it/1200/700?random" data-title="Technology"></div>
    <div class="carousel-item" data-url="http://unsplash.it/1000/800" data-title="Nature"></div>
    <div class="carousel-item" data-url="http://unsplash.it/1100/800?random" data-title="Sport"></div>
    <div class="carousel-item" data-url="http://unsplash.it/1000/600?random" data-title="Business"></div>
  </div>


