
      <div class="sub-header">
        <h4 class="text-shade-4">Top position</h4>
      </div>

      <div class="inline-container">

        <div class="item">
          <div class="dropdown-top">

            <div class="dropdown-trigger" data-target="drop-1">
              <div>Top left</div>
            </div>

            <div class="dropdown-menu" id="drop-1">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="dropdown-top">

            <div class="dropdown-trigger" data-target="drop-2">
              <div>Top center</div>
            </div>

            <div class="dropdown-menu center" id="drop-2">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="dropdown-top">

            <div class="dropdown-trigger" data-target="drop-3">
              <div>Top right</div>
            </div>

            <div class="dropdown-menu right" id="drop-3">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

      </div>



      <div class="sub-header">
        <h4 class="text-shade-4">Bottom position</h4>
      </div>

      <div class="inline-container">

        <div class="item">
          <div class="dropdown-bottom">

            <div class="dropdown-trigger" data-target="drop-4">
              <div>Under left</div>
            </div>

            <div class="dropdown-menu" id="drop-4">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="dropdown-bottom">

            <div class="dropdown-trigger" data-target="drop-5">
              <div>Under center</div>
            </div>

            <div class="dropdown-menu center" id="drop-5">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="dropdown-bottom">

            <div class="dropdown-trigger" data-target="drop-6">
              <div>Under right</div>
            </div>

            <div class="dropdown-menu right" id="drop-6">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

      </div>







