
      <div class="sub-header">
        <h4 class="text-shade-4">Top position</h4>
      </div>

      <div class="inline-container">

        <div class="item">
          <div class="dropdown-top">

            <div class="dropdown-trigger" data-target="drop-1">
              <div class="link link--arrowed reversed">Top left
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
                  <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                    <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
                  </g>
                </svg>
              </div>
            </div>

            <div class="dropdown-menu" id="drop-1">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="dropdown-top">

            <div class="dropdown-trigger" data-target="drop-2">
              <div class="link link--arrowed reversed">Top center
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
                  <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                    <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
                  </g>
                </svg>
              </div>
            </div>

            <div class="dropdown-menu center" id="drop-2">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="dropdown-top">

            <div class="dropdown-trigger" data-target="drop-3">
              <div class="link link--arrowed reversed">Top right
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
                  <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                    <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
                  </g>
                </svg>
              </div>
            </div>

            <div class="dropdown-menu right" id="drop-3">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

      </div>



      <div class="sub-header">
        <h4 class="text-shade-4">Bottom position</h4>
      </div>

      <div class="inline-container">

        <div class="item">
          <div class="dropdown-bottom">

            <div class="dropdown-trigger" data-target="drop-4">
              <div class="link link--arrowed">Under left
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
                  <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                    <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
                  </g>
                </svg>
              </div>
            </div>

            <div class="dropdown-menu" id="drop-4">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="dropdown-bottom">

            <div class="dropdown-trigger" data-target="drop-5">
              <div class="link link--arrowed">Under center
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
                  <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                    <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
                  </g>
                </svg>
              </div>
            </div>

            <div class="dropdown-menu center" id="drop-5">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

        <div class="item">
          <div class="dropdown-bottom">

            <div class="dropdown-trigger" data-target="drop-6">
              <div class="link link--arrowed">Under right
                <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
                  <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                    <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                    <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
                  </g>
                </svg>
              </div>
            </div>

            <div class="dropdown-menu right" id="drop-6">
              <div class="dropdown-menu-header">Menu header</div>
              <div class="dropdown-menu-item">Menu item</div>
            </div>
          </div>
        </div>

      </div>







