<div class="flexrow-example-container">

  <div class="flexrow">
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-1"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-2"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-3"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-4"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-5"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-6"></div>
    </div>
  </div>

</div>



