<div class="flexrow-example-container">

  <div class="example-description">
    The color system is based on a semantic color scheme . You can set 5 or more colors to define your own scheme .
    You can also choose how name your colors . The geniune system is base on <span class="code-in-view">Base - Primary - Info - Success - Warning - Danger</span>.
    Each color pass thru a Sass processor to generate a 7 palette shade base on the color . For example the shade palette : <span class="code-in-view">gray-shade-1 - gray-shade-2 - gray-shade-3</span> become available for the base color <span class="code-in-view">gray</span>.
    You can also customize the Sass processor to generate more or less variants .
    All parameters are available via sass variables . Enjoy !!!
  </div>

  <div class="flexrow">
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-1"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-2"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-3"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-4"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-5"></div>
    </div>
    <div class="flexcol-xs-4-pad20 flexcol-sm-4-pad20 flexcol-md-4-pad20">
      <div class="circle-gray-6"></div>
    </div>
  </div>

</div>



