


  <form action="" class="inline-container">
    <input type="text" placeholder="Firstname" class="input-classic-style">
    <input type="text" placeholder="Firstname" class="input-new-style">
    <input type="text" placeholder="Firstname" class="input-old-style">
    <input type="text" placeholder="Firstname" class="input-hippie-style">
    <input type="submit" value="submit" class="btn-base">
  </form>






  <form action="" class="inline-container">

      <div class="input-group">
        <input type="text" class="input-classic-style" id="label-1">
        <label for="label-1">Label</label>
      </div>


      <div class="input-group">
        <input type="text" class="input-new-style" id="label-2">
        <label for="label-2">Label</label>
      </div>


    <div class="input-group">
      <input type="text" class="input-old-style" id="label-3">
      <label for="label-3">Label</label>
    </div>

    <div class="input-group">
      <input type="text" class="input-hippie-style" id="label-4">
      <label for="label-4">Label</label>
    </div>

    <input type="submit" value="submit" class="btn-primary">
  </form>






  <form action="" class="inline-container">
    <div class="input-group group-inline">
      <input type="text" class="input-classic-style" id="label-1">
      <label for="label-1">Label</label>
    </div>


    <div class="input-group group-inline">
      <input type="text" class="input-new-style" id="label-2">
      <label for="label-2">Label</label>
    </div>


    <div class="input-group group-inline">
      <input type="text" class="input-old-style" id="label-3">
      <label for="label-3">Label design</label>
    </div>


    <div class="input-group group-inline">
      <input type="text" class="input-hippie-style" id="label-4">
      <label for="label-4">Label</label>
    </div>

    <input type="submit" value="submit" class="btn-info">
  </form>


