

  <div class="sub-header">
    <h4 class="text-shade-4">Normal position</h4>
  </div>

  <div class="inline-container">

    <div class="item">


        <div class="modal">
          <div class="modal-trigger">Modal only body</div>

          <div class="modal-reference">
            <div class="modal-content">
              <div class="modal-close"><div class="close-icon"></div></div>
              <div class="content-body-alone">
                modal body
              </div>
            </div>
          </div>

        </div>

    </div>

    <div class="item">
      <div class="modal">
        <div class="modal-trigger">Modal normal</div>
        <div class="modal-content">
          <div class="modal-close"><div class="close-icon"></div></div>
          <div class="content-header">modal header 2</div>
          <div class="content-body">modal body 2</div>
          <div class="content-footer">
            <div class="btn-primary">Save changes</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="sub-header">
    <h4 class="text-shade-4">Bottom position (Mobile)</h4>
  </div>

  <div class="inline-container">
    <div class="item">
      <div class="modal-bottom">
        <div class="modal-bottom-trigger">Modal only body (mobile)</div>
        <div class="modal-bottom-content">
          <div class="modal-bottom-close"><div class="close-icon"></div></div>
          <div class="content-body-alone">
            <div class="modal-resize">Resize</div>
            <h4>modal body bottom</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sapiente, deserunt ratione repudiandae laudantium odit, modi ut quidem? Enim modi pariatur vitae, laboriosam molestiae sequi officiis at rerum tempore vero?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="modal-bottom">
        <div class="modal-bottom-trigger">Modal normal (mobile)</div>
        <div class="modal-bottom-content">
          <div class="modal-bottom-close"><div class="close-icon"></div></div>
          <div class="content-body">modal body bottom</div>
          <div class="content-footer">
            <div class="btn-base modal-resize">Resize</div>
            <div class="btn-primary">Save changes</div>
          </div>
        </div>
      </div>
    </div>
  </div>

