
<div class="flexrow-example-container">

<div class="example-description">
    The library come with in-built tools for responsive behaviours. Variables pass thru a Sass processor to generate the tools you needed. You can set infinite numbers of media queries breakpoints.
    And, of course, you can also choose the names of your <span class="code-in-view">Breakpoints</span>.
    You can also customize the Sass processor to generate dipslaying tools derived from this breakpoints .
    All parameters are available via sass variables.
    <div class="enjoy-in-view">Enjoy</div>
</div>

<div class="example-inhead">
  <h4>Breakpoints</h4>
  <%= render "svg/chevronright", size_class: "md", rotate: false %>
</div>

<div class="example-description d-hidden-xs">
  <div class="tree">
    <div class="item-container">

      <div class="item-first">
        <div class="text">768px</div>
      </div>

      <div class="line">
        <div class="sub-item">
          <div class="text">Phone</div>
        </div>
      </div>

      <div class="item">
        <div class="text">900px</div>
      </div>

      <div class="line">
        <div class="sub-item">
          <div class="text">Tablet</div>
        </div>
      </div>

      <div class="item">
        <div class="text">1200px</div>
      </div>

      <div class="line">
        <div class="sub-item">
          <div class="text">Desktop</div>
        </div>
      </div>

      <div class="item-last">
        <div class="text">1600px</div>
      </div>
    </div>
  </div>
</div>


<div class="d-hidden d-visible-xs">
  <div class="example-flexrow-container">
    <div class="column-container">
      <h4>Mobile</h4>
      <h2 class="text-shade-2 text-weight-2">768px</h2>
    </div>
    <div class="separator-big"></div>
    <div class="column-container">
      <h4>Tablet</h4>
      <h2 class="text-shade-2 text-weight-2">900px</h2>
    </div>
    <div class="separator-big"></div>
    <div class="column-container">
      <h4>Desktop</h4>
      <h2 class="text-shade-2 text-weight-2">1200px</h2>
    </div>
  </div>
</div>

</div>
