

  <div class="sub-header">
    <div class="text-shade-2">With tabs</div>
  </div>

  <div class="scrollspy-listener-container">

    <div class="item">
      <div class="scrollspy-listener" data-target="scroll-target-1">
        <div>Story 1</div>
      </div>
    </div>

    <div class="item">
      <div class="scrollspy-listener" data-target="scroll-target-2">
        <div>Story 2</div>
      </div>
    </div>

    <div class="item">
      <div class="scrollspy-listener" data-target="scroll-target-3">
        <div>Story 3</div>
      </div>
    </div>

  </div>

  <div class="scrollspy-container-example">

    <div class="scroll-cont-item" id="scroll-target-1">
      <div class="scroll-card">
        <h3>Story one</h3>
      </div>
    </div>

    <div class="scroll-cont-item" id="scroll-target-2">
      <div class="scroll-card">
        <h3>Story two</h3>
      </div>
    </div>

    <div class="scroll-cont-item" id="scroll-target-3">
      <div class="scroll-card">
        <h3>Story three</h3>
      </div>
    </div>

  </div>

