

<div class="flexrow-example-container">

  <div class="example-description">
    The color system is based on a <span class="code-in-view">semantic</span> color scheme . You can set 5 or more colors to define your own scheme .
    You can also choose how name your colors .
    Each color pass thru a Sass processor to generate a 7 palette shade base on the color . For example the shade palette : <span class="code-in-view">Base shades</span> become available for the base color <span class="code-in-view">Base</span>.
    You can also customize the Sass processor to generate more or less variants .
    All parameters are available via sass variables -<span class="enjoy-in-view">Enjoy</span>
  </div>


  <div class="example-inhead">
    <h4>Left</h4>
  </div>

  <div class="example-flexrow-container">
    <div class="btn-base sidebar-trigger" data-target="sidebar-home">sidebar left</div>
    <div class="separator"></div>
  </div>



  <div class="example-inhead">
    <h4>Right</h4>
  </div>

  <div class="example-flexrow-container">
    <div class="btn-fixed-primary sidebar-trigger" data-target="sidebar-test">sidebar right</div>
  </div>


</div>









