

  <div class="container-flexrow" data-gap="20px">
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-6">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-base sidebar-trigger" data-target="sidebar-home">sidebar left</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-6">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-primary sidebar-trigger" data-target="sidebar-test">sidebar right</div>
          </div>
        </div>
      </div>

    </div>
  </div>

