


<div class="flexrow-example-container">

  <div class="example-description">
    The color system is based on a <span class="code-in-view">semantic</span> color scheme . You can set 5 or more colors to define your own scheme .
    You can also choose how name your colors .
    Each color pass thru a Sass processor to generate a 7 palette shade base on the color . For example the shade palette : <span class="code-in-view">Base shades</span> become available for the base color <span class="code-in-view">Base</span>.
    You can also customize the Sass processor to generate more or less variants .
    All parameters are available via sass variables -<span class="enjoy-in-view">Enjoy</span>
  </div>


  <div class="example-inhead">
    <h4>Left justified</h4>
  </div>

  <div class="example-flexrow-container-nomargin">
    <div class="tabs-links start" data-target="inner-tabs-1">
      <div class="tab-trigger active" data-target="inner-tab-1">Link 1</div>
      <div class="separator"></div>
      <div class="tab-trigger" data-target="inner-tab-2">Link 2</div>
      <div class="separator"></div>
      <div class="tab-trigger" data-target="inner-tab-3">Link 3</div>
      <div class="separator"></div>
      <div class="tab-trigger" data-target="inner-tab-4">Link 4</div>
    </div>
  </div>


  <div class="example-flexrow-container">
    <div class="tabs-container" id="inner-tabs-1">
      <div class="tab-content active" id="inner-tab-1">
        <div class="tab-content-example">
          <h3>Test 1</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus incidunt, repudiandae odit ad, ut quos reiciendis officia aperiam beatae, debitis dignissimos aliquam tempora dolore error quae delectus officiis excepturi rerum.</p>
        </div>
      </div>
      <div class="tab-content" id="inner-tab-2">
        <div class="tab-content-example">
          <h3>Test 2</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero velit officiis provident sequi tempora, fugit autem nesciunt. Voluptatibus vero repudiandae delectus, a beatae animi dicta, dolore, amet minima voluptatum ipsa.</p>
        </div>
      </div>
      <div class="tab-content" id="inner-tab-3">
        <div class="tab-content-example">
          <h3>Test 3</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, sunt, esse. Dicta sunt similique fugit, distinctio quia beatae, cumque est necessitatibus esse, voluptates ad nesciunt maiores, placeat suscipit nulla nostrum?</p>
        </div>
      </div>
      <div class="tab-content" id="inner-tab-4">
        <div class="tab-content-example">
          <h3>Test 4</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Porro temporibus doloribus aliquam eum nisi rerum a pariatur non placeat, expedita repudiandae animi numquam autem ratione, eligendi iusto ipsa magni blanditiis?</p>
        </div>
      </div>
    </div>
  </div>


  <div class="example-inhead">
    <h4>Center aligned</h4>
  </div>

  <div class="example-flexrow-container-nomargin">
    <div class="tabs-links center" data-target="inner-tabs-2">
      <div class="tab-trigger active" data-target="inner-tab-5">Link 5</div>
      <div class="separator"></div>
      <div class="tab-trigger" data-target="inner-tab-6">Link 6</div>
      <div class="separator"></div>
      <div class="tab-trigger" data-target="inner-tab-7">Link 7</div>
      <div class="separator"></div>
      <div class="tab-trigger" data-target="inner-tab-8">Link 8</div>
    </div>
  </div>


  <div class="example-flexrow-container">
    <div class="tabs-container" id="inner-tabs-2">
      <div class="tab-content active" id="inner-tab-5">
        <div class="tab-content-example">
          <h3>Test 5</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore facere quos obcaecati, consequuntur tempore vel excepturi corrupti odit voluptatibus sunt autem, qui totam, tempora impedit, delectus maxime quis aliquid error!</p>
        </div>
      </div>
      <div class="tab-content" id="inner-tab-6">
        <div class="tab-content-example">
          <h3>Test 6</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ratione maxime officiis tempora recusandae deserunt neque nobis non reiciendis. Modi aut iste eos odio soluta, omnis similique quia. Iste, inventore.</p>
        </div>
      </div>
      <div class="tab-content" id="inner-tab-7">
        <div class="tab-content-example">
          <h3>Test 7</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo modi natus incidunt culpa illum laboriosam voluptatem quas perspiciatis nostrum esse repudiandae, expedita vel eius sapiente eligendi suscipit voluptate quae, inventore.</p>
        </div>
      </div>
      <div class="tab-content" id="inner-tab-8">
        <div class="tab-content-example">
          <h3>Test 8</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quibusdam veniam dignissimos culpa magnam consectetur corporis ea voluptatibus. Quaerat est, delectus itaque mollitia maiores nostrum voluptas accusamus neque labore doloribus?</p>
        </div>
      </div>
    </div>
  </div>




</div>









