
<div class="bordered-tab-container">
  <div class="tab-container">

    <div class="tab-header">
      <div class="tab-header-text">Top position</div>
    </div>

    <div class="tab-content-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae similique maxime eaque neque enim reiciendis numquam doloribus! Officia aliquid eaque, fugiat dolorum, qui sed rerum delectus, impedit eligendi magni temporibus!</div>

    <div class="navigation-container-example">
        <div class="tooltip-bottom">
          <div class="tooltip-trigger" data-target="drop-10">
            <div class="text-blue-0">Down left</div>
          </div>
          <div class="tooltip-menu" id="drop-10">
            <div class="tooltip-menu-header">Very long tooltip content !! Be careful of the tooltip's height.</div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="tooltip-bottom">
          <div class="tooltip-trigger" data-target="drop-11">
            <div class="text-blue-0">Down center</div>
          </div>
          <div class="tooltip-menu center" id="drop-11">
            <div class="tooltip-menu-header">Very long tooltip content !! Be careful of the tooltip's height.</div>
          </div>
        </div>
        <div class="separator"></div>
        <div class="tooltip-bottom">
          <div class="tooltip-trigger" data-target="drop-12">
            <div class="text-blue-0">Down right</div>
          </div>
          <div class="tooltip-menu right" id="drop-12">
            <div class="tooltip-menu-header">Very long tooltip content !! Be careful of the tooltip's height.</div>
          </div>
        </div>
    </div>

  </div>
</div>
