

  <div class="sub-header">
    <h4 class="text-shade-4">Vertical positions</h4>
  </div>

  <div class="inline-container">

    <div class="item">
      <div class="tooltip-bottom" id="tool-1">
        <div class="tooltip-trigger" data-target="tool-1">tooltip bottom</div>
        <div class="tooltip-menu center">
          <div class="text-shade-1">tooltip content</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="tooltip-top" id="tool-3">
        <div class="tooltip-trigger" data-target="tool-3">tooltip top</div>
        <div class="tooltip-menu center">
          <div class="text-shade-1">tooltip content</div>
        </div>
      </div>
    </div>


  </div>


  <div class="sub-header">
    <h4 class="text-shade-4">Horizontal positions</h4>
  </div>

  <div class="inline-container">

    <div class="item">
      <div class="tooltip-left" id="tool-4">
        <div class="tooltip-trigger" data-target="tool-4">tooltip left</div>
        <div class="tooltip-menu">
          <div class="text-shade-1">tooltip content</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="tooltip-right" id="tool-5">
        <div class="tooltip-trigger" data-target="tool-5">tooltip right</div>
        <div class="tooltip-menu">
          <div class="text-shade-1">tooltip content</div>
        </div>
      </div>
    </div>

  </div>

