<div class="banner">
  <div class="banner-content">
    <div class="item">
      <h1>Lighweight framework</h1>
    </div>
    <div class="item">
      <p>Some cool stuff here</p>
    </div>
    <div class="item">
      <div class="btn-primary">call to action</div>
    </div>
  </div>
</div>


<div class="fixed-box">
  <div class="position-viewer">
    <div class="bar">
      <div class="percents">0%</div>
    </div>
  </div>
</div>



<div class="section white">
  <div class="header">
    <h2>Buttons</h2>
  </div>
  <div class="sub-header">
    <h4 class="text-shade-4">Classic buttons</h4>
  </div>
  <div class="container-flexrow" data-gap="20px">
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-base">base</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-primary">primary</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-info">info</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-danger">danger</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-success">success</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <h4 class="text-shade-4">Fixed size buttons</h4>
  </div>
  <div class="container-flexrow" data-gap="20px">
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-base">base</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-primary">primary</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-info">info</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-danger">danger</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-success">success</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <h4 class="text-shade-4">Bordered buttons</h4>
  </div>
  <div class="container-flexrow" data-gap="20px">
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-base">base</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-primary">primary</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-info">info</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-danger">danger</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-bordered-success">success</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="sub-header">
    <h4 class="text-shade-4">Fullsize buttons</h4>
  </div>
  <div class="container-flexrow" data-gap="20px">
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-base">base</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-primary">primary</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-info">info</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-danger">danger</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-full-success">success</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>






<div class="section white">
  <div class="header">
    <h2 class="text-shade-1">Grayscale</h2>
  </div>
  <div class="container-flexrow" data-gap="20px">
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="circle-gray-1"></div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="circle-gray-2"></div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="circle-gray-3"></div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="circle-gray-4"></div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="circle-gray-5"></div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="circle-gray-6"></div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="circle-gray-7"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="section light">
  <div class="header">
    <h2 class="text-shade-1">Sidebars</h2>
  </div>
  <div class="container-flexrow" data-gap="20px">
    <div class="flexrow" data-wrap="left">
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-6">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-base sidebar-trigger" data-target="sidebar-home">sidebar left</div>
          </div>
        </div>
      </div>
      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-6">
        <div class="flexcol-gap">
          <div class="flexbox-center">
            <div class="btn-fixed-primary sidebar-trigger" data-target="sidebar-test">sidebar right</div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




<div class="section white">
  <div class="header">
    <h2 class="text-shade-1">Tabs</h2>
  </div>
  <div class="sub-header">
    <h4 class="text-shade-4">Left justified</h4>
  </div>


  <div class="tabs-links start" data-target="tabs-1">
    <div class="tab-trigger active" data-target="tab-1">Link 1</div>
    <div class="tab-trigger" data-target="tab-2">Link 2</div>
    <div class="tab-trigger" data-target="tab-3">Link 3</div>
    <div class="tab-trigger" data-target="tab-4">Link 4</div>
  </div>

  <div class="tabs-container" id="tabs-1">
    <div class="tab-content active" id="tab-1">
      <div class="tab-content-example">
        <h2>Test 1</h2>
      </div>
    </div>
    <div class="tab-content" id="tab-2">
      <div class="tab-content-example">
        <h2>Test 2</h2>
      </div>
    </div>
    <div class="tab-content" id="tab-3">
      <div class="tab-content-example">
        <h2>Test 3</h2>
      </div>
    </div>
    <div class="tab-content" id="tab-4">
      <div class="tab-content-example">
        <h2>Test 4</h2>
      </div>
    </div>
  </div>

  <div class="sub-header">
    <h4 class="text-shade-4">Center aligned</h4>
  </div>
  <div class="tabs-links center" data-target="tabs-2">
    <div class="tab-trigger active" data-target="tab-5">Link 5</div>
    <div class="tab-trigger" data-target="tab-6">Link 6</div>
    <div class="tab-trigger" data-target="tab-7">Link 7</div>
    <div class="tab-trigger" data-target="tab-8">Link 8</div>
  </div>

  <div class="tabs-container" id="tabs-2">
    <div class="tab-content active" id="tab-5">
      <div class="tab-content-example">
        <h2>Test 5</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore facere quos obcaecati, consequuntur tempore vel excepturi corrupti odit voluptatibus sunt autem, qui totam, tempora impedit, delectus maxime quis aliquid error!</p>
      </div>
    </div>
    <div class="tab-content" id="tab-6">
      <div class="tab-content-example">
        <h2>Test 6</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ratione maxime officiis tempora recusandae deserunt neque nobis non reiciendis. Modi aut iste eos odio soluta, omnis similique quia. Iste, inventore.</p>
      </div>
    </div>
    <div class="tab-content" id="tab-7">
      <div class="tab-content-example">
        <h2>Test 7</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo modi natus incidunt culpa illum laboriosam voluptatem quas perspiciatis nostrum esse repudiandae, expedita vel eius sapiente eligendi suscipit voluptate quae, inventore.</p>
      </div>
    </div>
    <div class="tab-content" id="tab-8">
      <div class="tab-content-example">
        <h2>Test 8</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quibusdam veniam dignissimos culpa magnam consectetur corporis ea voluptatibus. Quaerat est, delectus itaque mollitia maiores nostrum voluptas accusamus neque labore doloribus?</p>
      </div>
    </div>
  </div>


</div>







<div class="section white">

  <div class="header">
    <h2 class="text-shade-1">Dropdowns</h2>
  </div>

  <div class="sub-header">
    <h4 class="text-shade-4">Top position</h4>
  </div>

  <div class="inline-container">

    <div class="item">
      <div class="dropdown-top">

        <div class="dropdown-trigger" data-target="drop-1">
          <div class="link link--arrowed reversed">Top left
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
              <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
              </g>
            </svg>
          </div>
        </div>

        <div class="dropdown-menu" id="drop-1">
          <div class="dropdown-menu-header">Menu header</div>
          <div class="dropdown-menu-item">Menu item</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="dropdown-top">

        <div class="dropdown-trigger" data-target="drop-2">
          <div class="link link--arrowed reversed">Top center
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
              <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
              </g>
            </svg>
          </div>
        </div>

        <div class="dropdown-menu center" id="drop-2">
          <div class="dropdown-menu-header">Menu header</div>
          <div class="dropdown-menu-item">Menu item</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="dropdown-top">

        <div class="dropdown-trigger" data-target="drop-3">
          <div class="link link--arrowed reversed">Top right
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
              <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
              </g>
            </svg>
          </div>
        </div>

        <div class="dropdown-menu right" id="drop-3">
          <div class="dropdown-menu-header">Menu header</div>
          <div class="dropdown-menu-item">Menu item</div>
        </div>
      </div>
    </div>

  </div>



  <div class="sub-header">
    <h4 class="text-shade-4">Bottom position</h4>
  </div>

  <div class="inline-container">

    <div class="item">
      <div class="dropdown-bottom">

        <div class="dropdown-trigger" data-target="drop-4">
          <div class="link link--arrowed">Under left
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
              <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
              </g>
            </svg>
          </div>
        </div>

        <div class="dropdown-menu" id="drop-4">
          <div class="dropdown-menu-header">Menu header</div>
          <div class="dropdown-menu-item">Menu item</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="dropdown-bottom">

        <div class="dropdown-trigger" data-target="drop-5">
          <div class="link link--arrowed">Under center
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
              <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
              </g>
            </svg>
          </div>
        </div>

        <div class="dropdown-menu center" id="drop-5">
          <div class="dropdown-menu-header">Menu header</div>
          <div class="dropdown-menu-item">Menu item</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="dropdown-bottom">

        <div class="dropdown-trigger" data-target="drop-6">
          <div class="link link--arrowed">Under right
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 32 32" class="arrow-icon d-hidden-xs">
              <g fill="none" stroke="#2175FF" stroke-width="1.5" stroke-linejoin="round" stroke-miterlimit="10">
                <circle cx="16" cy="16" r="15.12" class="arrow-icon--circle"></circle>
                <path d="M16.14 9.93L22.21 16l-6.07 6.07M8.23 16h13.98" class="arrow-icon--arrow"></path>
              </g>
            </svg>
          </div>
        </div>

        <div class="dropdown-menu right" id="drop-6">
          <div class="dropdown-menu-header">Menu header</div>
          <div class="dropdown-menu-item">Menu item</div>
        </div>
      </div>
    </div>

  </div>



  <pre style="text-shadow: none;margin: 0;">
    <h4>Dropdown bottom Html code</h4>
    <code class="language-markup" style="text-shadow: none;background-color: transparent;margin: 0;">
      &ltdiv class="dropdown-bottom"&gt
        &ltdiv class="dropdown-trigger" data-target="drop-6"&gt
          &lth3&gtlink&lt/h3&gt
        &lt/div&gt
        &ltdiv class="dropdown-menu right" id="drop-6"&gt
          &ltdiv class="dropdown-menu-header"&gtMenu header&lt/div&gt
          &ltdiv class="dropdown-menu-item"&gtMenu item&lt/div&gt
        &lt/div&gt
      &lt/div&gt
    </code>
  </pre>



</div>





<div class="section white">

  <div class="header">
    <h2 class="text-shade-1">Modals</h2>
  </div>

  <div class="sub-header">
    <h4 class="text-shade-4">Normal position</h4>
  </div>

  <div class="inline-container">

    <div class="item">


        <div class="modal">
          <div class="modal-trigger">Modal only body</div>

          <div class="modal-reference">
            <div class="modal-content">
              <div class="modal-close"><div class="close-icon"></div></div>
              <div class="content-body-alone">
                modal body
              </div>
            </div>
          </div>

        </div>

    </div>

    <div class="item">
      <div class="modal">
        <div class="modal-trigger">Modal normal</div>
        <div class="modal-content">
          <div class="modal-close"><div class="close-icon"></div></div>
          <div class="content-header">modal header 2</div>
          <div class="content-body">modal body 2</div>
          <div class="content-footer">
            <div class="btn-primary">Save changes</div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="sub-header">
    <h4 class="text-shade-4">Bottom position (Mobile)</h4>
  </div>

  <div class="inline-container">
    <div class="item">
      <div class="modal-bottom">
        <div class="modal-bottom-trigger">Modal only body (mobile)</div>
        <div class="modal-bottom-content">
          <div class="modal-bottom-close"><div class="close-icon"></div></div>
          <div class="content-body-alone">
            <div class="modal-resize">Resize</div>
            <h4>modal body bottom</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem sapiente, deserunt ratione repudiandae laudantium odit, modi ut quidem? Enim modi pariatur vitae, laboriosam molestiae sequi officiis at rerum tempore vero?</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="modal-bottom">
        <div class="modal-bottom-trigger">Modal normal (mobile)</div>
        <div class="modal-bottom-content">
          <div class="modal-bottom-close"><div class="close-icon"></div></div>
          <div class="content-body">modal body bottom</div>
          <div class="content-footer">
            <div class="btn-base modal-resize">Resize</div>
            <div class="btn-primary">Save changes</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>



<div class="section white">

  <div class="header">
    <h2 class="text-shade-1">Tooltips</h2>
  </div>

  <div class="sub-header">
    <h4 class="text-shade-4">Vertical positions</h4>
  </div>

  <div class="inline-container">

    <div class="item">
      <div class="tooltip-bottom" id="tool-1">
        <div class="tooltip-trigger" data-target="tool-1">tooltip bottom</div>
        <div class="tooltip-menu center">
          <div class="text-shade-1">tooltip content</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="tooltip-top" id="tool-3">
        <div class="tooltip-trigger" data-target="tool-3">tooltip top</div>
        <div class="tooltip-menu center">
          <div class="text-shade-1">tooltip content</div>
        </div>
      </div>
    </div>


  </div>


  <div class="sub-header">
    <h4 class="text-shade-4">Horizontal positions</h4>
  </div>

  <div class="inline-container">

    <div class="item">
      <div class="tooltip-left" id="tool-4">
        <div class="tooltip-trigger" data-target="tool-4">tooltip left</div>
        <div class="tooltip-menu">
          <div class="text-shade-1">tooltip content</div>
        </div>
      </div>
    </div>

    <div class="item">
      <div class="tooltip-right" id="tool-5">
        <div class="tooltip-trigger" data-target="tool-5">tooltip right</div>
        <div class="tooltip-menu">
          <div class="text-shade-1">tooltip content</div>
        </div>
      </div>
    </div>

  </div>

</div>





<div class="section white">

  <div class="header">
    <h2 class="text-shade-1">Search filter</h2>
  </div>

  <div class="header">
    <input type="text" id="input-filter" placeholder="Red, blue or yellow ?">
  </div>

  <div class="sub-header">
    <div class="text-shade-2" id="filter-result-count"></div>
  </div>

  <div class="container-flexrow" data-gap="20px">

    <div class="flexrow" data-wrap="left">

      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4 search-filter" data-filter="red">
        <div class="flexcol-gap">
          <div class="search-item">
            <div class="text-shade-2">Red box</div>
          </div>
        </div>
      </div>

      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4 search-filter" data-filter="blue">
        <div class="flexcol-gap">
          <div class="search-item">
            <div class="text-shade-2">Blue box</div>
          </div>
        </div>
      </div>

      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4 search-filter" data-filter="red">
        <div class="flexcol-gap">
          <div class="search-item">
            <div class="text-shade-2">Red box</div>
          </div>
        </div>
      </div>

      <div class="flexcol-xs-12 flexcol-sm-6 flexcol-md-4 search-filter" data-filter="yellow">
        <div class="flexcol-gap">
          <div class="search-item">
            <div class="text-shade-2">Yellow box</div>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>













<div class="sidebar-left" id="sidebar-home">
  <div class="header">
    <h3 class="text-shade-1">Sidebar header</h3>
    <div class="sidebar-close"><div class="close-icon"></div></div>
  </div>
</div>

<div class="sidebar-right" id="sidebar-test">
  <div class="header">
    <h3 class="text-shade-1">Sidebar header</h3>
    <div class="sidebar-close"><div class="close-icon"></div></div>
  </div>
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/prism/1.5.0/prism.min.js"></script>

