 <h4><span class="text-shade-green-0">HTML </span> Dropdown bottom</h4>
      <pre style="text-shadow: none;">
        <code class="language-markup" style="text-shadow: none;background-color: transparent;margin: 0;">

          &ltdiv class="dropdown-bottom"&gt
            &ltdiv class="dropdown-trigger" data-target="drop-6"&gt
              &lth3&gtlink&lt/h3&gt
            &lt/div&gt
            &ltdiv class="dropdown-menu right" id="drop-6"&gt
              &ltdiv class="dropdown-menu-header"&gtMenu header&lt/div&gt
              &ltdiv class="dropdown-menu-item"&gtMenu item&lt/div&gt
            &lt/div&gt
          &lt/div&gt
        </code>
      </pre>
