<div class="flexrow-example-container">


  <div class="variables-container">


    <div class="example-inhead">
      <h4>Sass variables</h4>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
    </div>

    <div class="example-flexrow-container-nomargin">
      <mark class="bold">$variable</mark>
      <mark class="sign">=</mark>
      <mark class="calc">calc</mark>
      <mark class="light">(</mark>
      <mark class="percent">100%</mark>
      <mark class="sign">+</mark>
      <mark class="pixels">50px</mark>
      <mark class="light">)</mark>
      <mark class="sign">;</mark>
    </div>

    <div class="example-flexrow-container-nomargin">
      <mark class="bold">$flexrow-column-divider</mark>
      <mark class="sign">=</mark>
      <mark class="number">12</mark>
      <mark class="sign">;</mark>
    </div>

    <div class="example-flexrow-container-nomargin">
      <mark class="bold">$variable</mark>
      <mark class="sign">=</mark>
      <mark class="calc">calc</mark>
      <mark class="light">(</mark>
      <mark class="percent">100%</mark>
      <mark class="sign">+</mark>
      <mark class="pixels">50px</mark>
      <mark class="light">)</mark>
      <mark class="sign">;</mark>
    </div>

    <div class="example-flexrow-container-nomargin">
      <mark class="bold">$flexrow-column-divider</mark>
      <mark class="sign">=</mark>
      <mark class="number">12</mark>
      <mark class="sign">;</mark>
    </div>


  </div>





  <div class="variables-container">

    <div class="example-inhead">
      <h4>Mixins & Placeholders</h4>
      <%= render "svg/chevronright", size_class: "md", rotate: false %>
    </div>

    <div class="example-flexrow-container-nomargin">
      <mark class="bold">@mixin</mark>
      <mark class="sign">=</mark>
      <mark class="calc">calc</mark>
      <mark class="light">(</mark>
      <mark class="percent">100%</mark>
      <mark class="sign">+</mark>
      <mark class="pixels">50px</mark>
      <mark class="light">)</mark>
      <mark class="sign">;</mark>
    </div>

    <div class="example-flexrow-container-nomargin">
      <mark class="bold">@mixin</mark>
      <mark class="sign">=</mark>
      <mark class="number">12</mark>
      <mark class="sign">;</mark>
    </div>

    <div class="example-flexrow-container-nomargin">
      <mark class="bold">%placeholder</mark>
      <mark class="sign">=</mark>
      <mark class="calc">calc</mark>
      <mark class="light">(</mark>
      <mark class="percent">100%</mark>
      <mark class="sign">+</mark>
      <mark class="pixels">50px</mark>
      <mark class="light">)</mark>
      <mark class="sign">;</mark>
    </div>

    <div class="example-flexrow-container-nomargin">
      <mark class="bold">%placeholder</mark>
      <mark class="sign">=</mark>
      <mark class="calc">@extend</mark>
      <mark class="string"> buttons</mark>
    </div>

  </div>

</div>
