
<div class="section white">
  <div class="header">
    <h2 class="text-shade-1">Tabs</h2>
  </div>
  <div class="sub-header">
    <h4 class="text-shade-4">Left justified</h4>
  </div>


  <div class="tabs-links start" data-target="tabs-1">
    <div class="tab-trigger active" data-target="tab-1">Link 1</div>
    <div class="tab-trigger" data-target="tab-2">Link 2</div>
    <div class="tab-trigger" data-target="tab-3">Link 3</div>
    <div class="tab-trigger" data-target="tab-4">Link 4</div>
  </div>

  <div class="tabs-container" id="tabs-1">
    <div class="tab-content active" id="tab-1">
      <div class="tab-content-example">
        <h2>Test 1</h2>
      </div>
    </div>
    <div class="tab-content" id="tab-2">
      <div class="tab-content-example">
        <h2>Test 2</h2>
      </div>
    </div>
    <div class="tab-content" id="tab-3">
      <div class="tab-content-example">
        <h2>Test 3</h2>
      </div>
    </div>
    <div class="tab-content" id="tab-4">
      <div class="tab-content-example">
        <h2>Test 4</h2>
      </div>
    </div>
  </div>

  <div class="sub-header">
    <h4 class="text-shade-4">Center aligned</h4>
  </div>
  <div class="tabs-links center" data-target="tabs-2">
    <div class="tab-trigger active" data-target="tab-5">Link 5</div>
    <div class="tab-trigger" data-target="tab-6">Link 6</div>
    <div class="tab-trigger" data-target="tab-7">Link 7</div>
    <div class="tab-trigger" data-target="tab-8">Link 8</div>
  </div>

  <div class="tabs-container" id="tabs-2">
    <div class="tab-content active" id="tab-5">
      <div class="tab-content-example">
        <h2>Test 5</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore facere quos obcaecati, consequuntur tempore vel excepturi corrupti odit voluptatibus sunt autem, qui totam, tempora impedit, delectus maxime quis aliquid error!</p>
      </div>
    </div>
    <div class="tab-content" id="tab-6">
      <div class="tab-content-example">
        <h2>Test 6</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum ratione maxime officiis tempora recusandae deserunt neque nobis non reiciendis. Modi aut iste eos odio soluta, omnis similique quia. Iste, inventore.</p>
      </div>
    </div>
    <div class="tab-content" id="tab-7">
      <div class="tab-content-example">
        <h2>Test 7</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo modi natus incidunt culpa illum laboriosam voluptatem quas perspiciatis nostrum esse repudiandae, expedita vel eius sapiente eligendi suscipit voluptate quae, inventore.</p>
      </div>
    </div>
    <div class="tab-content" id="tab-8">
      <div class="tab-content-example">
        <h2>Test 8</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum quibusdam veniam dignissimos culpa magnam consectetur corporis ea voluptatibus. Quaerat est, delectus itaque mollitia maiores nostrum voluptas accusamus neque labore doloribus?</p>
      </div>
    </div>
  </div>


</div>
